{{ form_start(form) }}
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.items) }}
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Unit</th> <th>Regular Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody data-prototype="<td>{{ form_widget(form.items.vars.prototype.name)|e }}</td> <td>{{ form_widget(form.items.vars.prototype.description)|e }}</td> <td>{{ form_widget(form.items.vars.prototype.unit)|e }}</td> <td>{{ form_widget(form.items.vars.prototype.regularPrice)|e }}</td> <td> <button type='button' class='btn btn-danger btn-sm remove-item'>Remove</button> </td>">
                    {% for item in form.items %}
                        <tr>
                            <td>{{ form_widget(item.name) }}</td>
                            <td>{{ form_widget(item.description) }}</td>
                            <td>{{ form_widget(item.unit) }}</td>
                            <td>{{ form_widget(item.regularPrice) }}</td>
                            <td> <button type="button" class="btn btn-danger btn-sm remove-item">Remove</button> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-sm btn-primary add-item">Add Item</button>
            <button class="btn btn-sm btn-primary card-link">{{ button_label|default('Save') }}</button>
        </div>
{{ form_end(form) }}
