{% extends 'base.html.twig' %}

{% block title %}{{ service.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 border-right">
            <!-- Page Header -->
            <div class="d-flex justify-content-between bg-white border-bottom border-1 p-3">
                <h5 class="align-self-center mb-0">Services</h5>
                <div>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_service_new') }}">New</a>
                    <a class="btn btn-sm btn-secondary" href="#" id="listDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in shadow" aria-labelledby="listDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
            <!-- Page Content -->
            <div class="pt-0 pb-3 px-3" style="height: 100vh; overflow-y: scroll;">
                {% for service in services %}
                    <div class="border-bottom border-1 py-2">
                        <div>
                            <p>
                                <a href="{{ path('app_service_show', {'uuid': service.uuid}) }}">{{ service.name }}</a>
                            </p>
                            {{ service.items | length }} service{% if service.items | length > 1 %}s{% endif %}
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="2">No Records Found</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-8">
            <!-- Page Header -->
            <div class="d-flex justify-content-between bg-white border-bottom border-1 p-3">
                <h5 class="align-self-center mb-0">{{ service.name }}</h5>
                <div>
                    <a class="btn btn-sm btn-secondary px-3" href="{{ path('app_service_edit', {'uuid': service.uuid}) }}">Edit</a>
                    <a class="btn btn-sm btn-secondary" href="#" id="actionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated--fade-in shadow" aria-labelledby="listDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                    <a class="btn btn-sm px-3" href="{{ path('app_service_index') }}">
                        Back To List
                    </a>
                </div>
            </div>
            <!-- Page Content -->
            <div class="p-3">
                <h5>Overview</h5>
                <hr class="sidebar-divider">
                <div class="row mb-2">
                    <div class="col-md-2 font-weight-bold">Description</div>
                    <div class="col-md-10">{{ service.description }}</div>
                </div>
                <div class="mb-2">
                    <div class="d-flex justify-content-between border-bottom pb-2 my-3">
                        <h5 class="mb-0 align-self-center">Items</h5>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addItemModal">Add Item</button>
                    </div>
                    {% if service.items | length > 0 %}
                        <table class="table table-sm data-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Unit</th>
                                <th>Price</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in service.items %}
                                <tr>
                                    <td class="text-nowrap"><a href="{{ path('app_item_show', {'uuid': item.uuid}) }}">{{ item.name }}</a></td>
                                    <td>{{ item.unit }}</td>
                                    <td>{{ item.regularPrice | number_format(2,'.') }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No Items Found
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {{ form_start(form) }}
                    <input type="hidden" name="_token">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addItemModalLabel">Add New Item</h5>
                    </div>
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-sm">Confirm</button>
                        <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
