<table class="table table-sm data-table">
    <thead>
    <tr>
        <th>Display Name</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Contact Person</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for contact in contacts %}
        <tr>
            <td class="text-nowrap"><a href="{{ path('app_contact_show', {'uuid': contact.uuid}) }}">{{ contact.displayName }}</a></td>
            <td>{{ contact.companyName }}</td>
            <td>{{ contact.emailAddress }}</td>
            <td>{{ contact.mobilePhoneNumber }}</td>
            <td>{{ contact.principalContact }}</td>
            <td class="text-center">
                <a class="btn btn-sm btn-link text-gray-500" id="actionsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right animated--fade-in shadow" aria-labelledby="actionsDropdown">
                    <a class="dropdown-item" href="{{ path('app_contact_edit', {'uuid' : contact.uuid}) }}">
                        <i class="fas fa-pen fa-sm fa-fw mr-2 text-gray-500"></i>
                        Edit
                    </a>
                    <a class="dropdown-item text-danger delete-item" href="#" data-action="{{ path('app_contact_delete', {'uuid' : contact.uuid}) }}" data-token="{{ csrf_token('delete' ~ contact.uuid) }}" data-toggle="modal" data-target="#deleteModal">
                        <i class="fas fa-trash fa-sm fa-fw mr-2"></i>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No Records Found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>